<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Hello Triangle.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>OpenGL.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Shader.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2251FB7A1F4BA43100DF30DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E27FEE211F4AD70900AF62C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E286BCBE1F4D1C66005F03F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E286BCD01F4D5450005F03F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E286BCDB1F4D54C8005F03F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E286BCEC1F4D811C005F03F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E286BD101F4D87C2005F03F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
